# Build outputs
out/
.next/
dist/

# Scripts and configuration files
scripts/
*.config.js
*.config.ts

# Dependencies
node_modules/

# Environment files
.env*

# Logs
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
